# sioyek_keys@mbookair

# Scrolling
screen_down             <C-d>
screen_up               <C-u>

# Navigation State
prev_state              <C-o>
next_state              <C-i>

# Zoom
zoom_in                 J
zoom_out                K

# View
fit_to_page_width       s
toggle_titlebar         <C-w>
helper_window           <C-h>

# Color Modes
toggle_custom_color     c
toggle_dark_mode        i

# Config
reload_config           r
