# prefs_user.config@mbookair

# Startup
startup_commands                    toggle_custom_color;fit_to_page_width

# Colors
background_color                    0.97 0.97 0.97
dark_mode_background_color          0.180 0.204 0.251
dark_mode_contrast                  0.9

custom_background_color             0.180 0.204 0.251
custom_text_color                   0.925 0.937 0.957

status_bar_color                    0.180 0.204 0.251
status_bar_text_color               0.847 0.871 0.914

page_separator_color                0.231 0.259 0.322
page_separator_width                2

# Highlights and Marks
text_highlight_color                0.706 0.557 0.678
search_highlight_color              0.922 0.796 0.545
link_highlight_color                0.533 0.753 0.816
synctex_highlight_color             0.639 0.745 0.549
visual_mark_color                   0.533 0.753 0.816 0.12

# Highlight Colors (a–z)
highlight_color_a                   0.706 0.557 0.678
highlight_color_b                   0.506 0.631 0.757
highlight_color_c                   0.816 0.529 0.439
highlight_color_d                   0.231 0.259 0.322
highlight_color_e                   0.298 0.337 0.416
highlight_color_f                   0.639 0.745 0.549
highlight_color_g                   0.639 0.745 0.549
highlight_color_h                   0.922 0.796 0.545
highlight_color_i                   0.298 0.337 0.416
highlight_color_j                   0.561 0.737 0.733
highlight_color_k                   0.922 0.796 0.545
highlight_color_l                   0.639 0.745 0.549
highlight_color_m                   0.706 0.557 0.678
highlight_color_n                   0.369 0.506 0.675
highlight_color_o                   0.816 0.529 0.439
highlight_color_p                   0.706 0.557 0.678
highlight_color_q                   0.639 0.745 0.549
highlight_color_r                   0.749 0.380 0.416
highlight_color_s                   0.533 0.753 0.816
highlight_color_t                   0.561 0.737 0.733
highlight_color_u                   0.922 0.796 0.545
highlight_color_v                   0.706 0.557 0.678
highlight_color_w                   0.749 0.380 0.416
highlight_color_x                   0.922 0.796 0.545
highlight_color_y                   0.922 0.796 0.545
highlight_color_z                   0.816 0.529 0.439

# Behaviour
check_for_updates_on_startup        0
should_launch_new_window            0
sort_bookmarks_by_location          1
multiline_menus                     1
prerender_next_page_presentation    1
rerender_overview                   1
single_click_selects_words          0
wheel_zoom_on_cursor                0
move_screen_ratio                   0.5
vertical_move_amount                1.0
horizontal_move_amount              1.0
fit_to_page_width_ratio             0.75
ruler_mode                          1
ruler_padding                       1.0
ruler_x_padding                     5.0
flat_toc                            0
collapsed_toc                       0
max_created_toc_size                5000
create_table_of_contents_if_not_exists 1
should_load_tutorial_when_no_other_file 1
